/*---------------------------*\ 
 $MAIN UI APP
\*---------------------------*/

/*BUTTON UI*/

.btn{
    padding: 0.625rem 1.25rem;
    border: none;
    transition: opacity 0.2s ease-in;
    border-radius: 0.375rem;
    font-weight: 400;
    outline: none;
    box-shadow: var(--shadow) var(--color_shadow);
    text-align: center;
    font-size: 1rem;
}

.btn:hover{
    transition: all 0.3s ease;
}

.btn__primary{
    background-color: var(--mainLigthBlue);
    color: var(--white);
}

.btn__primary:hover{
    background-color: var(--mainDarkBlue);
}


/*TEXT UI*/

.title__app{
    font-size: 3rem;
    margin: 1rem auto;
}

.subtitle__app{
    font-size: 1.5rem;
    margin: 1rem auto;
}

.text-primary{
    color: var(--mainLigthBlue);
}

.form__text{
    margin-top: 0.3rem;
    color:var(--red);
}

.text-secondary{
    color: var(--mainPurple);
}

/*ALERTS UI*/

.alert{
    padding: 0.8rem;
    margin: 1rem auto;
    opacity: 0.8;
    width: 80%;
}

.alert__danger{
    background: var(--red);
    color: var(--white);
}


/*CARD UI*/

.bgCard{
    border: 1px solid var(--color_shadow);
    background-color: var(--bgSection);
    border-radius: 10px;
    box-shadow: var(--shadow) var(--color_shadow);
}



/*FORM UI*/

.form{
    text-align: center;
    padding: 3rem 0;
}

.form__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.125rem;
    width: 80%;
}

.form__box--input,
.form__box--input textarea {
    border: 1px solid var(--mainPurple);
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
}

/*PROFILES UI*/

.profiles{
    padding: 3rem 0;
}

.profiles__section{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiles__card{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 2rem;
    padding: 1.5rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    text-align: center;
    max-width: 80%;
}


.profiles__img{
    width: 70%;
    margin: 0 auto;
}



.profiles__img img{
    border-radius: 50%;
}

.profiles__ul{
    display: none;
}

.profiles__info > *{
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px){
    .profiles__card{
        grid-template-columns: 2fr 2fr 2fr;
    }

    .profiles__ul{
        display: block;
    }
}