/*---------------------------*\ 
 $MAIN CONFIG
\*---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --mainBlack: #100303;
    --mainPurple: #95389e;
    --mainLigthBlue: #43d8c9;
    --mainGray: #f7f7f7;
    --white: #fff;
    --bgSection: #fafafa;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}

/*RESET STYLES*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

*,
*:after,
*:before{
    box-sizing: inherit;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

li,a,button{
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    width: 80%;
}

/*TEXTS*/

.subtitle{
  font-size: 4vh;
  margin-bottom: 30px;
  text-align: left;
}

.copy__section{
  font-family: Roboto;
  font-size: 3vh;
  line-height: 32px;
  margin-bottom: 60px;
  text-align: justify;
}

@media screen and (min-width: 960px){
  .subtitle{
    font-size: 5vh;
  }
  .copy__section{
    font-size: 4vh;
  }
} 


/*ANIMATIONS*/

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
} 

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 

/*---------------------------*\ 
 $LANDING
\*---------------------------*/

/*NAVBAR*/

.navbar{
    background-color: var(--mainPurple);
    height: 80px;
    position: sticky;
    font-size: 1.2rem;
    top:0;
    z-index: 999;
    color: var(--white);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--shadow) var(--color_shadow);
}

.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
}

.navbar__logo{
    color:inherit;
    font-size: 4vh;
    cursor: pointer;
}

.fa-book-reader{
    margin-right:0.8rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar__item{
    padding: 1rem;
    display: inline-block;
}

.navbar__links{
    color: var(--white);
    font-weight: 400;
}

.navbar__links:hover {
    color: var(--mainLigthBlue);
    transition: all 0.3s ease;
  }

.navbar__btn{
    padding: 1rem;
}

.navbar__btn--modifier{
    color: var(--white);
    background: linear-gradient(360deg, rgb(0, 159, 255) 0%, rgb(67, 216, 201) 100%);
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 400;
    outline: none;
    box-shadow: var(--shadow) var(--color_shadow);
} 

.navbar__btn--modifier:hover{
    transition: all 0.3s ease;
    background: var(--mainLigthBlue);
}

@media screen and (max-width: 960px) {

    .navbar__logo{
        padding-left: 25px;
    }

    .navbar__container{
        width: auto;
    }

    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: var(--mainBlack);
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
    }
    
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }



  /*HERO*/

  .hero__main{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    align-items: center;
    justify-content: space-between;
  }

  .hero__content{
    text-align: center;
    margin-bottom: 4rem;
  }

  .hero__content h1{
    font-size: 5vh;
    background-image: linear-gradient(360deg, rgb(0, 159, 255) 0%, rgb(67, 216, 201) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  .hero__content h2 {
    font-size: 5vh;
    margin-top: 10px;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .hero__content p {
    margin-top: 1rem;
    font-size: 4vh;
    font-weight: 700;
    color: var(--mainBlack);
  }

  .hero__button--cta{
    font-size: 1rem;
    background-image: linear-gradient(360deg, #1120ffa3 0%, #00cfff 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 6px;
    margin-top: 2rem;
    transition: all 0.35s;
    outline: none;
    position: relative;
    box-shadow: var(--shadow) var(--color_shadow);
  }

  .hero__button--cta a{
    position: relative;
    z-index: 2;
    color: var(--white);
    font-weight: bold;
  }

  .hero__button--cta:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--mainPurple);
    transition: all 0.35s;
    border-radius: 6px;
  }

  .hero__button--cta:hover {
    color: var(--white);
  }
  
  .hero__button--cta:hover:after {
    width: 100%;
  }

  .hero__img--container{
    width: 300px;
  }

  @media screen and (min-width: 960px) {
    .hero__main {
        height: 80vh;
        flex-direction: row;
      }
      .hero__content{
          text-align: left;
      }
      .hero__img--container{
          width: 45%;
      }
      .hero__content h1 {
          font-size: 7vh;
      }
      .hero__content h2{
        font-size: 7vh;
      }
  }


  /*ABOUT*/

  .about{
    background-color: var(--white);
  }

  .about__main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .about__content{
    width: 100%;
  }

  .about__img--container{
    width: 100%;
  }

  @media screen and (min-width: 960px) {
    .about__main{
      flex-direction: row;
    }
    .about__content{
      width: 45%;
    }

    .about__img--container{
      width: 45%;
    }
  }

  /*BENEFITS*/