/*---------------------------*\ 
 $MAIN CONFIG
\*---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --mainBlack: #100303;
    --mainPurple: #95389e;
    --mainLigthBlue: #43d8c9;
    --mainGray: #f7f7f7;
    --white: #fff;
    --bgSection: #fafafa;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
    --linearGradient1: linear-gradient(360deg, rgb(0, 159, 255) 0%, rgb(67, 216, 201) 100%);
    --linearGradient2: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    --linearGradient3: linear-gradient(360deg, #1120ffa3 0%, #00cfff 100%);
}

/*RESET STYLES*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

li,a,button{
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    width: 80%;
}

/*TEXTS*/

.subtitle{
  font-size: 2.625rem;
  margin-bottom: 1.275rem;
  text-align: left;
}

.copy__section{
  font-family: Roboto;
  font-size: 1.375rem;
  margin-bottom: 60px;
  text-align: justify;
}

/*HIGHLIGHT*/

.highlight{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 20px;
  left: 5%;
  width: 85%;
  color: var(--white);
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: var(--shadow) var(--color_shadow);
  padding: 15px 8px;
}


/*MAIN BUTTON CTA*/

.button--cta{
  font-size: 1rem;
  background-image: var(--linearGradient3);
  padding: 14px 32px;
  border: none;
  border-radius: 6px;
  margin-top: 2rem;
  transition: all 0.35s;
  outline: none;
  position: relative;
  box-shadow: var(--shadow) var(--color_shadow);
}

.button--cta a{
  position: relative;
  z-index: 2;
  color: var(--white);
  font-weight: bold;
}

.button--cta:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--mainPurple);
  transition: all 0.35s;
  border-radius: 6px;
}

.button--cta:hover {
  color: var(--white);
}

.button--cta:hover:after {
  width: 100%;
}


/*ANIMATIONS*/

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
} 

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 

/*---------------------------*\ 
 $LANDING
\*---------------------------*/

/*NAVBAR*/

.navbar{
    background-color: var(--mainPurple);
    height: 80px;
    position: sticky;
    font-size: 1.2rem;
    top:0;
    z-index: 999;
    color: var(--white);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--shadow) var(--color_shadow);
}

.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
}

.main__logo{
    color:inherit;
    font-size: 4vh;
    cursor: pointer;
}

.fa-book-reader{
    margin-right:0.8rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar__item{
    padding: 1rem;
    display: inline-block;
}

.navbar__links{
    color: var(--white);
    font-weight: 400;
}

.navbar__links:hover {
    color: var(--mainLigthBlue);
    transition: all 0.3s ease;
  }

.navbar__btn{
    padding: 1rem;
}

.navbar__btn--modifier{
    color: var(--white);
    background: var(--linearGradient1);
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 400;
    outline: none;
    box-shadow: var(--shadow) var(--color_shadow);
} 

.navbar__btn--modifier:hover{
    transition: all 0.3s ease;
    background: var(--mainLigthBlue);
}

@media screen and (max-width: 960px) {

    .main__logo{
        padding-left: 25px;
    }

    .navbar__container{
        width: auto;
    }

    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: var(--mainBlack);
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
    }
    
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }



  /*HERO*/

  .hero{
    background: var(--mainGray);
  }

  .hero__main{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    align-items: center;
    justify-content: space-between;
  }

  .hero__content{
    text-align: center;
    margin-bottom: 4rem;
  }

  .hero__content h1{
    font-size: 6vh;
    background-image: var(--linearGradient1);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  .hero__content h2 {
    font-size: 5vh;
    margin-top: 10px;
    background-image: var(--linearGradient2);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .hero__content p {
    margin-top: 5vh;
    font-size: 4vh;
    font-weight: 700;
    color: var(--mainBlack);
  }

  

  .hero__img--container{
    width: 300px;
  }

  @media screen and (min-width: 960px) {
    .hero__main {
        height: 100vh;
        flex-direction: row;
      }
      .hero__content{
          text-align: left;
      }
      .hero__img--container{
          width: 45%;
      }
      .hero__content h1 {
          font-size: 7vh;
      }
      .hero__content h2{
        font-size: 6vh;
      }
  }


  /*ABOUT*/

  .about{
    background-color: var(--white);
  }

  .about__main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .about__content{
    width: 100%;
  }

  .about__img--container{
    width: 100%;
  }

  @media screen and (min-width: 960px) {
    .about__main{
      flex-direction: row;
    }
    .about__content{
      width: 45%;
    }

    .about__img--container{
      width: 45%;
    }
  }

  /*BENEFITS*/

  .beneficts{
    background-color: var(--mainGray);
  }

  .container-bg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .card{
    width: 95%;
    padding: 30px 0;
    overflow: hidden;
    background: var(--white);
    border-radius: 10px;
    position: relative;
    margin-bottom: 40px;
    box-shadow: 0 0 6px var(--color_shadow);
  }

  .card__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    text-align: justify;
    margin: 1rem auto;
  }

  .card__title{
    font-size: 2rem;
    color: var(--mainPurple);
    margin-bottom: 1rem;
  }

  .card__copy{
    color: var(--mainBlack);

    margin-bottom: 16px;
  }

  .background{
    width: 95%;
    margin-bottom: 40px;
    height: 290px;
    border-radius: 10px;
    position: relative;
  }


  .background > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  .background__text{
    position: absolute;
    width: 90%;
    bottom: 30px;
    left: 3%;
    background-color: var(--mainPurple);
    border-radius: 10px;
    opacity: 0.8;
    padding: 7px;
}

.highlight__background--modifier{
  background: var(--linearGradient1);
  flex-direction: column;
  align-items: first baseline;
  
}


  .background__title{
    color: var(--white);
    font-size: 1.5rem;
    margin-bottom: 4px;
  }

  .background__copy{
    color: var(--white);
    text-align: justify;
    display: none;
  }

  @media screen and (min-width: 768px){
    .container-bg{
      justify-content: space-between;
    }

    .card{
      width: 42%;
    }

    .background{
      width: 52%;
    }
    .background__copy{
      display: block;
    }
  }

  @media screen and (min-width: 1280px){
    .card{
      width: 30%;
    }

    .background{
      width: 65%;
    }
  }

  /*TESTIMONY*/

  .testimony__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .testimony__card{
    height: 500px;
    width: 95%;
    background:var(--linearGradient3);
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0 6px var(--color_shadow);
  }

  .testimony__card--img{
    height: 100%;
    width: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
  }


  .highlight__testimony--modifier{
    background: var(--linearGradient3);
  }

  .testimony__logo{
    font-size: 40px;
    margin-right: 15px;
  }

  .testimony__text{
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;
  }

  .testimony__logo{
    margin-bottom: 20px;
  }

  .testimony__story{
    color: var(--white);
    font-size: 1.3125rem;
    font-weight: 300;
  }

  

  .testimony__copy--modifier{
    box-shadow: none;
  }

  .logo--picture{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center top;
    margin-right: 20px;
}

@media screen and (min-width: 768px){
  .testimony__container{
    justify-content: space-between;
  }
  .testimony__card{
    width: 45%;
  }
}

@media screen and (min-width: 1280px){
  .testimony__card{
    width: 30%;
  }
}

/*DOWNLOADS*/

.dowloads{
  background: var(--bgSection);
}

.dowloads .container {
  padding: 60px 0;
}

.download__main{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

.downloads__title{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.download__app{
  display: flex;
  justify-content: space-between;
}

.download__item{
  display: flex;
  justify-content: center;
  padding: 18px 12px;
  border-radius: 6px;
  border: 1px solid var(--mainBlack);
  width: 42%;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.download__logo{
  font-size: 2rem;
  margin-right: 1rem;
}

.download__copy{
  width: 100%;
  color: var(--mainBlack);
  display: flex;
  flex-wrap: wrap;
}

.termsAndConditions{
  color: var(--mainBlack);
  font-weight: 700;
  margin-right: 0.6rem;
  display: inline-block;
  margin-top: 10px;
}

.termsAndConditions:hover{
  color: var(--mainPurple);
  transition: all 0.3s ease;
}


.getEmail{
  width: 100%;
  margin-bottom: 40px;
}

.newsletter{
  height: auto;
  font-family: inherit; 
  position: relative;
  border-radius: 6px;
  display: block;
  width: 100%;
} 



.newsletter__input{
  width: 100%;
  height: 100%;
  padding: 22px 10px;
  outline: none;
  font-family: inherit;
  border-radius: 6px;
  border: 1px solid var(--mainBlack);
}

.newsletter__submit{
  position: absolute;
  right: 8px;
  top: 7px;
  height: 80%;
  background: var(--mainPurple);
  color: #fff;
  padding: 0 15px;
  border: none;
  border-radius: 6px;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
}

.socialmedia{
  margin-top: 24px;
  display: flex;
  color: var(--mainBlack);
}

.socialmedia__legend{
  font-size: 1.2rem;
  margin-right: 1rem;
}

.socialmedia__icon{
  font-size: 1.125rem;
  margin-right: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 768px){
  .download__main{
    flex-direction: row;
    justify-content: space-between;
  }
  .download__section{
    width: 45%;
  }

  .getEmail{
    width: 45%; 
  }

  .dowloads .container{
    padding: 100px 0;
  }
}

/*FOOTER*/

.footer{
  margin: 0 auto;
  text-align: center;
  background-color: var(--mainPurple);
  color: var(--white);
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--shadow) var(--color_shadow);
}

.footer .container{
  padding: 60px 0;
}

.footer__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.footer__logo{
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px){
  .footer__container{
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer__logo{
    margin-bottom: initial;
  }
}